<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.thoughts %>, <strong><%= review.rating %></strong>/5
  </li>
<% end %>
